.mt {
    margin-top: 20px;
  }
  .noSpacing{
    margin: 0px;
    padding: 0px;
  }
  .addButtonPosition{
    position:fixed;
    bottom:10px;
    right:20px;
    z-index: 2;
  }
  .addLoaderPosition{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: auto;
    margin-left: auto;
  }
  .addLoaderPosition1{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: auto;
    margin-left: auto;
    z-index: 1;
  }
  .addLoaderPosition2{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: auto;
    margin-left: auto;
    z-index: 2;
  }